# Core functionality - changes here should be rare!
/src/app.py                   @mabdelgowa
/src/backend/database.py      @mabdelgowa
/src/backend/routers/auth.py  @mabdelgowa

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mabdelgowa
